{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}{% endblock  %}
    </title>
    <link href="{% static 'css/base.css' %}" rel='stylesheet'>

  </head>
  <body>
    <div id='header'>
      <span class='logo'>Bookmarks</span>
      {% if request.user.is_authenticated %}
        <ul class='menu'>
          
          <li {% if section == "dashboard" %} class='selected'{% endif %}>
            <a href="{% url "dashboard" %}">My Dashboard</a>
          </li>
          <li {% if section == 'images' %} class="selected" {% endif %}>
            <a href="{% url "images:list" %}">Images</a>
          </li>
          <li {% if section == 'people' %} class="selected" {% endif %}>
            <a href="{% url "user_list" %}">People</a>
          </li>
        </ul>
      {% endif %}
      <span class='user' style="display:flex;">
        {% if request.user.is_authenticated  %}
          <p style='display:inline;margin-top:5px;'> Hello {{request.user.first_name|default:request.user.username}},</p>
          <form style='display:inline;padding:0px;' method="post" action="{% url 'logout' %}" >
            {% csrf_token %}
            <input type="submit" value='Logout'>
          </form>
        {% else %}
          <a href="{% url 'login' %}">Log-in</a>
        {% endif %}
      </span>
    </div>
    {% if messages %}
      <ul class='messages'>
        {% for message in messages  %}
          <li class="{{message.tags}}">
            {{message|safe}}
            <a href="#" class='close'>x</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div id='content' >
      {% block content %}{% endblock  %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js" integrity="sha512-nlp9/l96/EpjYBx7EP7pGASVXNe80hGhYAUrjeXnu/fyF5Py0/RXav4BBNs7n5Hx1WFhOEOWSAVjGeC3oKxDVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      const csrftoken = Cookies.get('csrftoken');
      document.addEventListener('DOMContentLoaded',(event)=>{
        {% block domready %}
        {% endblock %}
      })
    </script>

  </body>
</html>